*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: white;
}

.img-padding{
    padding: 10px 10px 10px 20px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* corpo principale */
body{
    background-color: rgb(234, 235, 237);
}

.white-box{
    background-color: white;
    width: 60%;
    margin: 30px auto;
    padding: 30px 60px;
}

/* pulsanti */
.add-task{
    display: inline-block;
    background-color: rgb(68, 169, 246);
    color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 10px;
}

.add-section{
    display: inline-block;
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px 10px;
}

/* Elementi lista */
ul{
    list-style-type: none;
}

h2{
    margin: 20px 0px 15px 0px;
}

li{
    margin: 0px 0px 15px 0px;
}

.editorial{
    display: inline-block;
    background-color: rgb(68, 169, 246);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.75em;
}

.q1-goals{
    display: inline-block;
    background-color: rgb(151, 114, 222);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.75em;
}

.recruiting{
    display: inline-block;
    background-color: rgb(101, 195, 170);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.75em;
}

.mobile{
    display: inline-block;
    background-color: rgb(240, 160, 46);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.75em;
}

.website{
    display: inline-block;
    background-color: rgb(215, 100, 165);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.75em;
}

.sales{
    display: inline-block;
    background-color: rgb(176, 203, 38);
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.75em;
}

.tick{
    display: inline-block;
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0 0 10px 3px;
}

.cross{
    display: inline-block;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0 0 20px 2px;
}