*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: white;
}

.img-padding{
    padding: 10px 10px 10px 20px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* corpo principale */
body{
    background-color: rgb(234, 235, 237);
}

.square{
    background-color: white;
    box-sizing: border-box;
    margin: 25%;
}

ul{
    list-style-type: none;
}